<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Material Design Bootstrap</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="~/Content/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="~/Content/css/style.min.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">
    <style>
        .map-container {
            overflow: hidden;
            padding-bottom: 56.25%;
            position: relative;
            height: 0;
        }

            .map-container iframe {
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                position: absolute;
            }
    </style>
</head>

<body class="grey lighten-3">
    <header>
        <!-- Start your project here-->
        <!--Navbar -->
        <nav class="mb-1 navbar navbar-expand-lg navbar-dark red lighten-1">
            <button id="trigger-btn" class="navbar-toggler d-inline-block" type="button" data-toggle="collapse" data-target="sidebarSupportedContent"
                    aria-controls="sidebarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" onclick="openNav()">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Navbar</a>
            <a class="btn btn-info btn-rounded btn-sm waves-effect waves-light ml-auto">Log In<i class="d-none d-xl-inline-block fas fa-sign-in-alt ml-2"></i></a>
        </nav>
        <!--/.Navbar -->
        <!-- Sidebar -->
        @*<div class="sidebar-fixed position-fixed">*@
        <div class="sidebar-fixed position-fixed collapse show" id="sidebarSupportedContent">
            <a class="logo-wrapper waves-effect w-100">
                <!--<img src="~/Content/images/uef.jpg" class="img-fluid" alt="">-->
            </a>

            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item active waves-effect">
                    <i class="fas fa-chart-pie mr-3"></i>Dashboard
                </a>
                <a href="#" class="list-group-item list-group-item-action waves-effect">
                    <i class="fas fa-user mr-3"></i>Profile
                </a>
                <a href="#" class="list-group-item list-group-item-action waves-effect">
                    <i class="fas fa-table mr-3"></i>Tables
                </a>
                <a href="#" class="list-group-item list-group-item-action waves-effect">
                    <i class="fas fa-map mr-3"></i>Maps
                </a>
                <a href="#" class="list-group-item list-group-item-action waves-effect">
                    <i class="fas fa-money-bill-alt mr-3"></i>Orders
                </a>
            </div>

        </div>
        <!--/ Sidebar -->
        <!--Modal Login-->
        <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-3">
                        <div class="md-form mb-5">
                            <i class="fas fa-envelope prefix grey-text"></i>
                            <input type="email" id="defaultForm-email" class="form-control validate">
                            <label data-error="wrong" data-success="right" for="defaultForm-email">Your email</label>
                        </div>

                        <div class="md-form mb-4">
                            <i class="fas fa-lock prefix grey-text"></i>
                            <input type="password" id="defaultForm-pass" class="form-control validate">
                            <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
                        </div>

                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button class="btn btn-default">Login</button>
                    </div>
                </div>
            </div>
        </div>
        <!--End of Modal Login-->
    </header>

    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>

    <!--Footer-->
    <footer class="page-footer text-center font-small danger-color darken-2 mt-4 wow fadeIn">

        <!--Copyright-->
        <div class="footer-copyright py-3">
            © 2019 Copyright:
            <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank"> MDBootstrap.com </a>
        </div>
        <!--/.Copyright-->

    </footer>

    <!-- Start your project here-->
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="~/Content/js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="~/Content/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/Content/js/mdb.min.js"></script>
    @*<script type="text/javascript">
        function openNav() {
            $('#sidebarSupportedContent').css("margin-left", "0");
        };
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            if ($(document).width() >= 1200) {
                $('#sidebarSupportedContent').css("margin-left", "0");
            }
            else {
                $('#sidebarSupportedContent').css("margin-left", "-270px");
            }
        });

        $(document).ready(function () {
            $(document).click(
                function (event) {
                    if ($(document).width() < 1200) {
                        if (event.target.id != 'sidebarSupportedContent' && event.target.className != 'navbar-toggler-icon' && event.target.id != 'trigger-btn') {
                            $('#sidebarSupportedContent').css("margin-left", "-270px");
                        }
                    }
                }
            );
        });
    </script>*@
</body>

</html>



